* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: #6200ea; /* roxinho :) */
  color: white;
  padding: 1rem;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

main {
  flex: 1;
  padding: 6rem 1rem 4rem; /* espaço pro header e footer fixos */
  max-width: 800px;
  margin: 0 auto;
}